.main {
  height: 100dvh;
  max-width: 100vh;
  margin: auto;
  background-color: aqua;
}

/* HEADER */
.header {
  background-color: blue;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 10vh;
}

.header__title {
  flex-grow: 1;
}

/* TASKS */
.tasks {
  background-color: white;
  margin: 1rem;
  padding: 2rem;
}

.tasks__list-item {
  display: flex;
  gap: 1rem;
}

.tasks__task-name {
  flex-grow: 1;
}

.addbutton {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  background-color: #00bfff;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.addbutton:hover {
  cursor: pointer;
}




/* Login */
.login-container {
  max-width: 400px; /* Increased max-width to 400px */
  margin: 0 auto;
  padding: 100px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;.addbutton {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    background-color: #00bfff;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .addbutton:hover {
    cursor: pointer;
  }
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title {
  text-align: center;
  margin-top: 0;
}

.login-form {
  margin-top: 20px;
  width: 150%; /* Set the width of the form to 150% */
}

.login-label {
  display: block;
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.password-toggle {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


/* Register */
.register-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-title {
  text-align: center;
  margin-top: 0;
}

.register-form {
  margin-top: 20px;
  width: 150%; /* Set the width of the form to 100% */
}

.register-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}
