.main {
  height: 100dvh;
  max-width: 100vh;
  margin: auto;
  background-color: aqua;
}

/* HEADER */
.header {
  background-color: blue;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 10vh;
}

.header__title {
  flex-grow: 1;
}

/* TASKS */
.tasks {
  background-color: white;
  margin: 1rem;
  padding: 2rem;
}

.tasks__list-item {
  display: flex;
  gap: 1rem;
}

.tasks__task-name {
  flex-grow: 1;
}
